### 2.4.2 
a, b 두 개의 변수에 123456과 7890이라는 값을 넣고 이 변수를 사용하여 다음과 같이 세로셈으로 덧셈 결과를 출력하는 코드를 만들어라. 천의 자리 쉼표를 표시해야 한다.

In [2]:
a, b = map(int, input().split())
print("%9d"%a)
print("+","%7d"%b)
print("-"*9)
print("%9d"%(a+b))

1111 444
     1111
+     444
---------
     1555

### 2.4.3 
연습 문제 1, 2를 format 방법으로 다시 풀어라.

In [8]:
a, b = map(int, input().split())
print("{:>7,}".format(a))
print("+"+"{:>7,}".format(b))
print("-"*8)
print("{:>8,}".format(a+b))

1111 6666
  1,111
+  6,666
--------
   7,777

### 2.4.4
연습 문제 1, 2를 f 문자열 방법으로 다시 풀어라

In [12]:
a, b = map(int, input().split())
print(f"{a:>10,}")
print('*'+f"{b:>9,}")
print("-"*10)
print(f"{(a*b):>10,}")

1111 5555
     1,111
*    5,555
----------
 6,171,605

### 2.7.6
프랑스의 수학자 페르마(Ferma)의 마지막 정리는 다음과 같다.

> n이 2보다 큰 자연수인 경우에, 𝑎𝑛+𝑏𝑛=𝑐𝑛 이 되는 자연수 𝑎, 𝑏, 𝑐는 존재하지 않는다.

n이 3이고 a, b, c 가 1부터 10까지의 자연수일 때 페르마의 마지막 정리가 사실임을 중첩 반복문을 써서 보인다. (힌트: 1부터 10까지 반복되는 for 반복문이 3개 중첩되어야 한다.)

In [14]:
import math

for i in range(1,10):
    for j in range(1,10):
        x=i**3+j**3
        for k in range(1,10):
            if k**3 == x:
                print("페르마 정리 불성립")
                
print("페르마 정리가 맞다")

페르마 정리가 맞다

### 2.7.7
1 / 1+(1+2) / 1+(1+2)+(1+2+3) / ..... 의 n번째 수열의 값을 구함

### 2.10.1

In [22]:
x = [4,3,2,3,4]
w = [3,3,1,2,2]
score = 0
grade = 0
for i, (xi,wi) in enumerate(zip(x,w)):
    score += xi*wi
    grade += wi
mean = score/grade
mean

3.3636363636363638

In [24]:
x = [6,5,4,7,3,5]
mean = sum(x)/len(x)
first = 0
for i in range(len(x)):
    first += (x[i]-mean)**2
var = first/len(x)
var

1.6666666666666667

In [26]:
x = [
  ["길동", 90],
  ["철수", 80],
  ["영수", 70],
  ["방자", 60],
]

y=list(zip(*x))
name=y[0]
name

('길동', '철수', '영수', '방자')